.iq-sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 260px;
    height: 100%;
    background: $primary;
    @if $enable-transitions==true {
        @include transition-mixin(all 0.7s ease-in-out);
    }
    @if $enable-shadows==true {
        @include shadow-mixin($box-shadow);
    }
}

#sidebar-scrollbar {
    height: 100vh;
}

.scroll-content {
    div.p-3 {
        height: 100px;
    }
}

.iq-sidebar-menu {
    .iq-menu {
        .iq-menu-title {
            display: block;
            color: $bodytext;
            font-size: 15px;
            position: relative;
            padding: 15px;
            font-weight: 500;
            line-height: 18px;
            i {
                display: none;
            }
        }
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            list-style-type: none;
            position: relative;
            white-space: nowrap;
            margin-bottom: 5px;
            ;
            li {
                margin: 5px 0px 0px;
                background: transparent;
                a {
                    font-size: 16px;
                }
            }
            a {
                font-size: 16px;
                white-space: nowrap;
                display: block;
                color: $white;
                position: relative;
                padding: 15px 15px 15px 30px;
                line-height: 18px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                overflow: hidden;
                text-transform: capitalize;
                border-radius: 0px 50px 50px 0px !important;
                @if $enable-rounded==true {
                    @include radius-mixin($border-radius-right);
                }
                i {
                    vertical-align: middle;
                    width: 20px;
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 16px;
                }
                span {
                    white-space: nowrap;
                    padding: 0;
                    display: inline-block;
                    @if $enable-transitions==true {
                        @include transition-mixin(none);
                    }
                }
                .iq-arrow-right {
                    margin-right: 0px;
                    margin-left: auto;
                    font-size: 15px;
                    width: 15px;
                    @if $enable-transitions==true {
                        @include transition-mixin(all 0.6s ease-in-out);
                    }
                }
                .badge {
                    position: absolute;
                    right: 15px;
                    @if $enable-transitions==true {
                        @include transition-mixin(all 0.6s ease-in-out);
                    }
                }
            }
            a[aria-expanded="true"] {
                .iq-arrow-right {
                    @if $enable-transitions==true {
                        @include transition-mixin(all 0.6s ease-in-out);
                    }
                }
            }
            ul {
                padding-left: 0;
                position: relative;
            }
            .iq-submenu {
                li.active {
                    >a {
                        background: $primary;
                    }
                }
                li {
                    a[aria-expanded="true"] {
                        box-shadow: none;
                    }
                }
            }
        }
        li.active-menu {
            >a {
                color: $primary;
                text-decoration: none;
                border-radius: 0;
                transition: none;
            }
        }
        li.active {
            .iq-submenu {
                li {
                    >a {
                        background: transparent;
                    }
                }
            }
        }
    }
    position: relative;
    margin: 0 30px 0 0;
}

.sidebar-default {
    .iq-sidebar-menu {
        .iq-menu {
            li {
                a {
                    &:hover {
                        color: $white;
                        background: rgba(0, 0, 0, 0.3);
                    }
                }
                a[aria-expanded="true"] {
                    color: $primary;
                    text-decoration: none;
                    transition: none;
                    i.iq-arrow-left {
                        color: $white;
                    }
                }
                .iq-submenu {
                    li {
                        a {
                            &:hover {
                                color: $white;
                                background: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }
                ul {
                    a {
                        &:hover {
                            color: $primary;
                            text-decoration: none;
                            background: transparent;
                        }
                    }
                    li {
                        a {
                            padding-left: 40px;
                        }
                    }
                    ul {
                        li {
                            >a {
                                padding-left: 60px;
                            }
                        }
                        ul {
                            li {
                                >a {
                                    padding-left: 80px;
                                }
                            }
                        }
                    }
                }
                ul.iq-submenu-data {
                    li {
                        margin: 0;
                    }
                }
            }
            >li.active {
                >a {
                    color: $white;
                    text-decoration: none;
                    background: rgba(0, 0, 0, 0.3);
                }
            }
            li.active {
                .iq-submenu {
                    li.active {
                        >a {
                            color: $white;
                            border-radius: 0;
                            background: rgba(0, 0, 0, 0.3);
                        }
                    }
                    li {
                        &:last-child {
                            >a {
                                @if $enable-rounded==true {
                                    @include radius-mixin($border-radius-bottom);
                                }
                            }
                        }
                        a[aria-expanded="true"] {
                            box-shadow: none;
                            background: rgba(0, 0, 0, 0.3);
                            color: $white;
                        }
                    }
                }
            }
            .iq-submenu {
                .iq-submenu-data {
                    box-shadow: none;
                }
            }
        }
    }
    .iq-sidebar {
        .iq-sidebar-menu {
            .iq-menu {
                .iq-submenu {
                    li {
                        &:before {
                            content: '';
                            width: 3px;
                            height: 35px;
                            background: $primary;
                            position: absolute;
                            left: 30px;
                            top: 8px;
                            @if $enable-rounded==true {
                                @include radius-mixin($border-radius);
                            }
                            @include opacity-mixin(0);
                        }
                    }
                    li.active {
                        &:before {
                            @include opacity-mixin(1);
                        }
                    }
                }
                li.active {
                    ul.iq-submenu {
                        .iq-submenu {
                            &:before {
                                left: 48px;
                                width: 2px;
                            }
                            li {
                                &::before {
                                    left: 48px;
                                    width: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-main {
        .iq-sidebar-menu {
            .iq-menu {
                li {
                    ul {
                        padding-left: 0;
                    }
                }
            }
            margin: 0px 15px 0px 0px !important;
        }
    }
    .sidebar-bottom {
        padding: 120px 15px 0px!important;
        .sidebarbottom-content {
            text-align: center;
        }
        .image {
            margin-top: -132px;
        }
    }
}

.iq-sidebar-menu {
    .iq-menu {
        li {
            a {
                .iq-arrow-right.arrow-hover {
                    @include opacity-mixin(0);
                    display: none;
                }
            }
            a[aria-expanded="true"] {
                .iq-arrow-right.arrow-active {
                    @include opacity-mixin(0);
                    display: none;
                }
                .iq-arrow-right.arrow-hover {
                    @include opacity-mixin(1);
                    display: block;
                }
            }
        }
    }
}

// sidebar logo
.iq-sidebar-logo {
    padding: 30px 0px 30px 30px;
    width: auto;
    position: relative;
    @if $enable-transitions==true {
        @include transition-mixin(all 0.6s ease-in-out);
    }
    a {
        display: flex;
        align-items: flex-start;
        position: relative;
        overflow: hidden;
        span {
            margin-left: 10px;
            font-size: 19px;
            line-height: 42px;
            padding-left: 1px;
            letter-spacing: 1.5px;
            font-weight: 600;
            flex: 1;
            @if $enable-transitions==true {
                @include transition-mixin(all 0.6s ease-in-out);
            }
        }
        span.logo-text {
            font-size: 10px;
            letter-spacing: 5px;
        }
        &:hover {
            text-decoration: none;
        }
        &:focus {
            text-decoration: none;
        }
        .logo-title {
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
        }
    }
    img {
        height: 30px;
    }
    .iq-menu-bt-sidebar {
        display: block;
        background-color: $white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        margin-right: -15px !important;
        position: relative;
        border-radius: 5px;
        @if $enable-shadows==true {
            @include shadow-mixin($box-shadow-lg);
        }
    }
    .wrapper-menu {
        font-size: 16px;
        -webkit-transform: rotate( 0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate( 0deg);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        .wrapper-menu {
            -webkit-transform: rotate( 0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate( 180deg);
        }
    }
}

.iq-saidbar-logo {
    img {
        width: 60%;
    }
}

.logo-text {
    color: $bodytext;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 5px;
}

.iq-top-navbar {
    .wrapper-menu {
        margin: 0 15px 0 0;
    }
}

.wrapper-menu {
    font-size: 30px;
    text-align: center;
    color: $primary;
    position: relative;
    @if $enable-transitions==true {
        @include transition-mixin(all 0.6s ease-in-out);
    }
}

@media(min-width:1300px) {
    .iq-top-navbar {
        .iq-navbar-custom {
            .wrapper-menu {
                display: none;
            }
        }
    }
    body.sidebar-main {
        .iq-sidebar {
            width: 80px;
            @if $enable-transitions==true {
                @include transition-mixin(all 0.7s ease-in-out);
            }
            .iq-sidebar-menu {
                margin: 0 15px 0px 0px;
                .iq-menu {
                    li {
                        a {
                            padding: 15px 22px;
                            span {
                                @include opacity-mixin(0);
                                display: none;
                                @if $enable-transitions==true {
                                    @include transition-mixin(all 0.6s ease-in-out);
                                }
                            }
                            .iq-arrow-right {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .iq-sidebar-logo {
            padding: 30px 0px 30px 15px;
            a {
                span {
                    @include opacity-mixin(0);
                    display: none;
                    @if $enable-transitions==true {
                        @include transition-mixin(all 0.6s ease-in-out);
                    }
                }
                display: block;
            }
        }
        .iq-sidebar-menu {
            .iq-menu {
                li {
                    a {
                        .badge {
                            @include opacity-mixin(0);
                            display: none;
                            @if $enable-transitions==true {
                                @include transition-mixin(all 0.6s ease-in-out);
                            }
                        }
                        .iq-arrow-right {
                            margin-right: 0;
                            display: none;
                        }
                        i.iq-arrow-left {
                            margin: inherit;
                        }
                    }
                    li {
                        a {
                            i {
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-default {
            .iq-sidebar-menu {
                .iq-menu {
                    li {
                        ul {
                            li {
                                a {
                                    padding-left: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-main {
        .iq-sidebar {
            .iq-submenu {
                li {
                    a {
                        font-size: 0;
                    }
                }
            }
            .sidebar-bottom {
                display: none;
            }
        }
        .logo-title {
            display: none;
        }
    }
}

@media(max-width: 1299px) {
    .iq-sidebar {
        .iq-sidebar-menu {
            margin: 0 15px 0 0;
        }
        display: inline-block;
        z-index: 99;
        left: -300px;
        top: 0px;
    }
    body.sidebar-main {
        .iq-sidebar {
            width: 260px;
            left: 0;
            z-index: 999;
        }
    }
}

.home-newsletter {
    padding: 80px 0;
    background: transparent;
    margin-bottom: 30px;
    .single {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
        .form-control {
            height: 50px;
            background: transparent;
            border-color: $primary;
            &:focus {
                box-shadow: none;
                border-color: $border-color;
            }
        }
        .btn {
            min-height: 50px;
            background: transparent;
            color: $primary
        }
    }
}